{% extends 'internal_base.html' %}
{% block title %}My Profile{% endblock %}
{% block body %}
<form method="POST" id="editForm">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row" style="padding: 100px; background-color: grey;">
        </div>
        <div class="row">
            <div class="col-3 ms-3">
                <div class="row">
                    <img src="{{ user.profile.profile_image.url }}" class="img-thumbnail mx-auto" style="width: 200px; height: 200px; margin-top: -6.0rem;">
                </div>
                <div class="row border-bottom mx-3">
                    <input type="text" class="form-control-lg my-1 text-center" id="first_name" name="first_name" value="{{ user.first_name }}">
                    <input type="text" class="form-control-lg my-1 text-center" id="first_name" name="last_name" value="{{ user.last_name }}">
                    <small class="text-center mb-2">@{{ user.username }}</small>
                </div>
                <div class="row px-3">
                    <div class="d-flex justify-content-center my-2">
                        <span class="material-symbols-rounded">location_on</span>
                        <input type="text" class="form-control text-center" id="location" name="location" value="{{ user.profile.location }}">
                    </div>
                    <div class="d-flex justify-content-center">
                        <textarea class="form-control" id="bio" name="bio" rows="3">{{ user.profile.bio }}</textarea>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mt-3">
                    <div class="col">
                        <h4 class="text-center">Hobbies</h4>
                        {% if hobbies %}
                            {% for hobby in hobbies %}
                                <div class="row justify-content-center mb-1">
                                    <div class="card text-center w-75 p-0">
                                        <div class="card-body">
                                            <h5 class="card-title m-0">{{ hobby.name }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row justify-content-center">
                            <button type="button" class="card btn w-75 p-0" data-bs-toggle="modal" data-bs-target="#hobbyModal">
                                <div class="card-body text-center">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/56e19ec5e3214084d69d4b7d/1473524254173-BGV5W2Z5FM46F67SYZHJ/PlusIcon_Small_Gray.png" style="height: 50px; width: 50px;" alt="Add Item">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="text-center">Interests</h4>
                        {% if interests %}
                            {% for interest in interests %}
                                <div class="row justify-content-center mb-1">
                                    <div class="card text-center w-75 p-0">
                                        <div class="card-body">
                                            <h5 class="card-title m-0">{{ interest.name }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row justify-content-center">
                            <button type="button" class="card btn w-75 p-0" data-bs-toggle="modal" data-bs-target="#interestModal">
                                <div class="card-body text-center">
                                    <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/56e19ec5e3214084d69d4b7d/1473524254173-BGV5W2Z5FM46F67SYZHJ/PlusIcon_Small_Gray.png" style="height: 50px; width: 50px;" alt="Add Item">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="text-center">Groups</h4>
                        {% if groups %}
                            {% for group in groups %}
                                <div class="row justify-content-center mb-1">
                                    <div class="card btn text-center w-75 p-0">
                                        <div class="card-body">
                                            <h5 class="card-title m-0">{{ group.name }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-center">Looks like there's nothing here yet. Go to the Discover tab to join some groups!</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex fixed-bottom justify-content-end m-3">
            <button type="submit" form="editForm" class="btn btn-light mt-3" value="Submit">
                Save
                <span class="material-symbols-rounded" style="font-size: 1rem !important;">save</span>
            </button>
        </div>
    </div>
</form>

<div class="modal fade" id="hobbyModal" tabindex="-1" aria-labelledby="hobbyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="hobbyModalLabel">Before you go...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Leaving this page will discard any other changes you've made to your name, location, and/or bio. Are you sure you want to continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                <a type="button" class="btn btn-warning" href="{% url 'profiles:select_hobbies' %}">Continue</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="interestModal" tabindex="-1" aria-labelledby="interestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="hobbyModalLabel">Before you go...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Leaving this page will discard any other changes you've made to your name, location, and/or bio. Are you sure you want to continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                <a type="button" class="btn btn-warning" href="{% url 'profiles:select_interests' %}">Continue</a>
            </div>
        </div>
    </div>
</div>
  
{% endblock %}