{% extends 'internal_base.html' %}
{% block title %}My Profile{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row site-banner" style="padding: 100px; background-position: right !important;">
    </div>
    <div class="row">
        <div class="col-3 ms-3">
            <div class="row">
                <img src="{{ user.profile.profile_image.url }}" class="img-thumbnail mx-auto" style="width: 200px; height: 200px; margin-top: -6.0rem;">
            </div>
            <div class="row border-bottom mx-3">
                <h4 class="text-center mt-2 mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
                <small class="text-center">@{{ user.username }}</small>
                <small class="text-center mb-2">{{ user.profile.gender }}, {{ user.profile.age }}</small>
            </div>
            <div class="row px-3 mx-3 pb-1 border-bottom">
                <div class="d-flex justify-content-center mt-2">
                    <span class="material-symbols-rounded">location_on</span>
                    <span class="my-auto">{{ user.profile.location }}</span>
                </div>
                <div class="d-flex justify-content-center">
                    {% if user.profile.seeking_romance is True %}
                        <span class="material-symbols-rounded">favorite</span>
                        <span class="my-auto">Looking for Romance</span>
                    {% else %}
                        <span class="material-symbols-rounded">mood</span>
                        <span class="my-auto">Looking for Friends</span>
                    {% endif %}
                </div>
            </div>
            <div class="row- px-3 mx-3 pt-2">
                <div class="d-flex justify-content-center">
                    {{ user.profile.bio }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row mt-3">
                <div class="col">
                    <h4 class="text-center">Hobbies</h4>
                    {% if hobbies %}
                        {% for hobby in hobbies %}
                            <div class="row justify-content-center mb-1">
                                <div class="card text-center w-75 p-0">
                                    <div class="card-body">
                                        <h5 class="card-title m-0">{{ hobby.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center">Looks like there's nothing here yet. Edit your profile to add some hobbies.</div>
                    {% endif %}
                </div>
                <div class="col">
                    <h4 class="text-center">Interests</h4>
                    {% if interests %}
                        {% for interest in interests %}
                            <div class="row justify-content-center mb-1">
                                <div class="card text-center w-75 p-0">
                                    <div class="card-body">
                                        <h5 class="card-title m-0">{{ interest.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center">Looks like there's nothing here yet. Edit your profile to add some interests.</div>
                    {% endif %}
                </div>
                <div class="col">
                    <h4 class="text-center">Groups</h4>
                    {% if groups %}
                        {% for group in groups %}
                            <div class="row justify-content-center mb-1">
                                <div class="card btn text-center w-75 p-0">
                                    <div class="card-body">
                                        <h5 class="card-title m-0">{{ group.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center">Looks like there's nothing here yet. Go to the Discover tab to join some groups!</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex fixed-bottom justify-content-end m-3">
        <a class="btn btn-light mt-3" href="{% url 'profiles:edit' %}">
            Edit Profile
            <span class="material-symbols-rounded" style="font-size: 1rem !important;">save</span>
        </a>
    </div>
</div>
{% endblock %}