{% extends 'internal_base.html' %}
{% block title %}My Profile{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row" style="padding: 100px; background-color: grey;">
    </div>
    <div class="row">
        <div class="col-3 ms-3">
            <div class="row">
                <img src="{{ user.profile.profile_image.url }}" class="img-thumbnail mx-auto" style="width: 200px; height: 200px; margin-top: -6.0rem;">
            </div>
            <div class="row border-bottom mx-3">
                <h4 class="text-center mt-2 mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
                <small class="text-center mb-2">@{{ user.username }}</small>
            </div>
            <div class="row px-3 mx-3">
                <div class="d-flex justify-content-center my-2">
                    <span class="material-symbols-rounded">location_on</span>
                    <span class="my-auto">{{ user.profile.location }}</span>
                </div>
                <div class="d-flex justify-content-center">
                    {{ user.profile.bio }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row mt-3">
                <div class="col">
                    <h4 class="text-center">Hobbies</h4>
                    {% if hobbies is not None %}
                        {% for hobby in hobbies %}
                            <div class="row justify-content-center">
                                <div class="card btn text-center w-75 p-0">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ hobby.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center">Looks like there's nothing here yet.</div>
                    {% endif %}
                </div>
                <div class="col">
                    <h4 class="text-center">Interests</h4>
                    {% if interests is not None %}
                        {% for interest in interests %}
                            <div class="row justify-content-center">
                                <div class="card btn text-center w-75 p-0">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ interest.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center">Looks like there's nothing here yet.</div>
                    {% endif %}
                </div>
                <div class="col">
                    <h4 class="text-center">Groups</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex fixed-bottom justify-content-end m-3">
        <a class="btn btn-light mt-3" href="{% url 'profiles:edit' %}">
            Edit Profile
            <span class="material-symbols-rounded" style="font-size: 1rem !important;">save</span>
        </a>
    </div>
</div>
{% endblock %}